NEXT_PUBLIC_SUPABASE_URL=https://daiprhcxvnssqcjunevi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRhaXByaGN4dm5zc3FjanVuZXZpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4MzI2NzMsImV4cCI6MjA5MTQwODY3M30.aRRGh_Ro5J-T0hhVkzTORY9sQPL6yhR0yN5j8D8SWbI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRhaXByaGN4dm5zc3FjanVuZXZpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTgzMjY3MywiZXhwIjoyMDkxNDA4NjczfQ.fxZcVsfmD-ptER7H3W7JmwyVgVGCd7uq6R07hg5n8Yc
NEXT_PUBLIC_SITE_URL=http://localhost:3000
